<!-- <%-include('../../Partials/Header.ejs')%>
<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Sidebar -->
  <%-include('../../Partials/Sidebar.ejs')%>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      <%-include('../../Partials/Navbar.ejs')%>

      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">
        <!-- Page Heading -->
        <%-include('../../Partials/Massage.ejs')%>
        <h1 class="h3 mb-4 text-gray-800">Produk</h1>
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link active"
              id="pills-home-tab"
              data-toggle="pill"
              href="#pills-home"
              role="tab"
              aria-controls="pills-home"
              aria-selected="true"
              >table produk</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="pills-profile-tab"
              data-toggle="pill"
              href="#pills-profile"
              role="tab"
              aria-controls="pills-profile"
              aria-selected="false"
              >add</a
            >
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div
            class="tab-pane fade show active"
            id="pills-home"
            role="tabpanel"
            aria-labelledby="pills-home-tab"
          >
            <%-include('table.ejs')%>
          </div>
          <div
            class="tab-pane fade"
            id="pills-profile"
            role="tabpanel"
            aria-labelledby="pills-profile-tab"
          >
            <%-include('add_produk.ejs')%>
          </div>
        </div>

        <!-- Button trigger modal -->

        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <%-include('../../Partials/Footer.ejs')%>
    </div>
  </div>
  <%-include('../../Partials/js.ejs')%>
</div>
<script>
  $("#dataTable").DataTable();
</script>
-->
